*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  max-height:100%;
}

a{
  text-decoration: none;
  color:black;
}

[class*=col-], [class*=col_], [class~=col] {
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin:0;
}

/* FONTS */

@font-face{
  src:url("/fonts/Audrey-Normal.otf");
  font-family: audrey;
}

@font-face{
  src:url("/fonts/BOSQUE.otf");
  font-family:bosque;
}

:-webkit-any(article,aside,nav,section) h1{
  font-size:25px;
}

p{
  margin-bottom:20px;
}

h1{
  font-family: 'Yeseva One', cursive;
}

h2, h3, a {
  font-family: 'audrey';
  font-weight:500;
  line-height: 28px;
}

h3{
  font-size:25px;
}

h2{
  font-size:30px;
}

h4, p, h5 {
  font-family: brandon-grotesque, sans-serif;
  font-weight:300;
  font-size:20px;
}

.full-highlight{
    background-color:white;
    line-height:34px;
}

/* Helper Classes */
.centered{
  text-align:center;
}

.italic{
  font-style: italic;
}

.primary-button{
  border: 2px solid black;
  padding:10px;
  font-family: brandon-grotesque, sans-serif;
}

.primary-button:hover{
  border: 2px solid #ABDED4;
  background-color:#ABDED4;
  color:white;

}

.secondary-button{
  border: 2px solid #ABDED4;
  background-color:#ABDED4;
  padding:10px;
  font-family: brandon-grotesque, sans-serif;
}

.secondary-button:hover{
  border: 2px solid #59C9B1;
  background-color:#59C9B1;
  color:white;
}

.space-around{
  display:flex;
  justify-content:space-around;
}

.space-between{
  display:flex;
  justify-content:space-between;
}

/* Nav */
nav{
  padding: 20px 4rem;
}


.mobile-menu{
  display:none;
}

.regular-menu a{
  margin-top:39px;
}

.regular-menu a:hover{
  color:#873340;
  transition:0.5s;
}

/* Burger */

.mobile-menu{
  display:none;
}

.burger-menu{
  display:none;
}

/* header */


.title{
    padding: 0rem 3rem 0rem 4rem;
}

.title-img{
  position:relative;
  padding:1rem 5rem;
}

.logo img{
  margin-top: 15px;
}

.title-intro{
  position: absolute;
      bottom: 27%;
      margin: auto;
      text-align: left;
      right: 9%;
}

.blue-banner{
  background: linear-gradient(white 17%,#E5E5F9 0%, #E5E5F9 60%, #E5E5F9 80%, white 25%);
}


/* SERVICES on HOME */


.title-services{
  padding:4rem;
}


.fa-map-marker{
  margin-bottom:10px;
  margin-bottom: 15px;
  font-size: 25px;
  color:white;
}

.services-text{
  padding:3rem 0rem 1rem;
}

.services-text h2{
  margin-bottom:10px;
}


.vl{
  border-right:2px solid black;
  padding:0 20px;
}

.vl-none{
  padding:0 20px;
}

.services-button{
  margin-top:3rem;
  color:black;
}

.services-button a{
  border:2px solid black;
  color:black;
}

.services-button a:hover{
  border: 2px solid #ABDED4;
  background-color:none;
  color:white;
}

.border-none{
  border:none;
}

/* TESTIMONIALS */

.quote-mark{
  text-align:right;
  padding:0;
  color:white;
}

.quote-mark h1{
  width: 90%;
  font-size: 126px;
  line-height: 0px;
  font-family: bosque;
  color:white;
}

.testimonials{
  /* height: 70vh; */
  padding: 8rem 0rem 0rem 8rem;
  background-color:#EF6B48;
  color:white;
  position:relative;
}

.testimonials p{
  font-size:22px;
  color:white;
}

.slide-dots{
  position: absolute;
    left: 0;
    bottom: 3vh;
    right: 3vh;
}

.far, .fas{
  color: #ffffff61;
margin: 0 5px;
}

/* .slideshow-container{
  position:relative;
  margin:auto;

}

.mySlides{
  display:none;
} */

.mySlides p{
  text-align:center;
}

.mySlides{
  height:50vh;
}


/* TITLE ABOUT */

.info{
  padding:4rem 4rem;
}

.info-text{
  padding:2rem 3rem 2rem 0;
  margin:auto;
}




/* Footer */

footer{
  background-color:#ECF1EB;
}


.footer-menu{
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom:12px;
}

.footer img{
  margin-bottom:5px;
}

.copyrights h5{
  font-size:12px;
  line-height:15px;
  width: 94%;
}

.copyrights a:hover{
  color:#e5bc5c;
}

.footer-menu a{
  margin:auto;
}

.footer-menu a:hover{
  color:#873340;
}

/* services page */
.services {
  padding:5rem 5rem 0;
  position:relative;
}

.second-service h3{
  font-weight:bold;
  font-size:20px;
}


.services-title{
  margin-bottom:2rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}



.services p{
  padding:0rem 4rem;
  width:80%;
  margin:auto;
  margin-bottom:2rem;
}

.services div{
  margin-bottom:5rem;
}




.third-service p{
  padding-bottom:0;
}

/* SERVICES form */

.schedule{
  padding: 2rem;
  background-color: #D8D8F6;
  width: 60%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.schedule h1{
  font-size:30px;
}

input, textarea{
width: 80%;
padding: 5px;
margin:5px 0;
}

textarea{
  height:160px;
  resize:none;
}

.contact-button{
  height: 2rem;
  width: 80%;
  background-color:#C1C1EB;
  border: 1px solid #C1C1EB;
  font-size: 15px;
  color:white;
}

.contact-button:hover{
  background-color:#A2A2D3;
  border:1px solid #A2A2D3;
}

/* ABOUT PAGE */

.cta-h2 h2{
  margin:25px 0;
}

.highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 56%, #B8D4D1 50%);
    line-height:37px;
}

.highlight-2{
    background: linear-gradient(180deg,rgba(255,255,255,0) 56%, #B8D4D1 50%);
    line-height:24px;
}

.about-me{
  padding:0rem 3rem 4rem;
}

.about-me-text{
  padding:2rem 1rem 2rem 2rem;
}

.about-me-text img{
  float: left;
    width: 39%;
    margin: 0 2rem 0 0;
}

.h1-about{
  font-family: 'Yeseva One', cursive;
  font-size:35px;
}

.about-me-text-extra{
  padding:3rem 5rem 0;
}

.about-me-text-extra h2{
  margin-bottom:15px;
}

.about-me-text-extra p{
  width: 85%;
margin: auto;
}

.about-me-text h2{
  font-size: 25px;
}

/* .about-me-images{
  background-image:url("/images/chase_july2019069.jpg");
  background-position:center;
  background-size:cover;
  padding:7rem;
} */

/* .subscription-box{
  padding: 2rem 2rem;
  margin: 4rem 8rem;
  background-color: #BAD9B5;
} */

.subscription-box h2{
  width: 80%;
  margin: auto;
  margin-bottom:8px;
}

/* MEDIA QUERIES */

@media (max-width:1160px){

.title-intro{
  bottom: 23%;
  margin: auto;
  right: 4%;
}

}

@media (max-width: 1024px){
  .title-intro{
    bottom: 20%;
    margin: auto;
    right: 4%;
  }

}

@media (max-width: 900px){
  .title-intro{
    bottom: 20%;
    margin: auto;
    right: 2%;
  }
.title-img{
  position: relative;
padding: 1rem 3rem;
}
}

@media (max-width: 768px){

  .footer-menu a{
    margin:auto;
    font-size: 10px;
  }

.display-none{
  display:none;
}

.regular-menu{
  display:none;
}

/* BURGER MENU */
.burger-button {
right:2vh;
}

.burger-menu{
right:0;
width:100%;
background-color: rgba(255,255,255,0.89);
height: 103vh;
background-color: rgba(255,255,255,0.89);
}

.burger-menu a{
font-size:30px;
white-space: normal;
}

.mobil-menu{
    display:block;
  }

  .burger-menu{
    display:block;
  }

  .nav-menu{
    display:none;
  }

  nav{
    padding:1rem;
  }

  .burger-button{
    position:fixed;
    top:3vh;
    right:0vh;
    z-index:9;
    padding:8px;
  }

  .burger-button span{
    width:30px;
    border: 2px solid #671F26;
    background-color:#671F26;
    display: block;
    border-radius:22px;
    transition: 1s;
  }

  .burger-button.active span{
    background-color:#671F26;
  }

  .burger-top, .burger-bottom{
    position:absolute;
  }

  .burger-top{
    top:02px;
  }

  .burger-bottom{
    bottom:2px;
  }

  .burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgba(250, 250, 250, 0.9);
    z-index: 8;
    padding-top:26px;
}

.burger-menu a {
  text-decoration: none;
  font-size: 33px;
  font-weight: 300;
  color: #7a7876;
  display:block;
  padding:1rem 2rem;
  text-align: center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}

.title-intro{
  padding: 0;
}

.title-img{
  padding: 1rem 0rem;
}



.title{
  padding:0 2rem;
}

.title-img{
  margin:auto;
  padding:1rem;
}

.title-services{
  padding: 2rem 2rem 0;
  background: linear-gradient(to bottom,#e5e5f9 2%,#fff %);
}

.title-intro{
  position: relative;
/* bottom: 0; */
margin: auto;
text-align: center;
/* right: 14%; */
width: 100%;
padding:0 2rem;
}

.blue-banner{
  background:linear-gradient(white 17%,#e5e5f9 0,#e5e5f9 60%,#e5e5f9 100%);
  margin-bottom:-2px;
}


.testimonials{
  padding:5rem 0 0rem 5rem;
}

.slide-dots{
  bottom:2vh;
}

.mySlides{
  height:65vh;
}


.services-button{
  margin:3rem 0;
}

.info{
  padding:4rem 3rem 0;
}

.info-img{
  order:-1;
  text-align:center;
}

.info-text{
  padding: 2rem 0rem;
}

.info-text h2, .info-text p{
  width:80%;
  margin:auto;
}

.subscription-box{
  width: 85%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem;
}

.services{
  padding:3rem 3rem;
}

.services div{
  margin-bottom:3rem;
}

.services p{
  padding: 0 0rem;
width: 100%;
margin: auto;
margin-bottom: 0rem;
}

.about-me{
  padding:0;
}

.about-me-text{
  padding:0 3rem;
    text-align: center;
}

.about-me-text img{
  float:none;
  width: 100%;
  margin: 2rem 0rem 2rem;
}

.about-me-text-extra{
  padding:0rem 5rem 3rem;
}

}

@media (max-width: 576px){

  .vl{
    border-right:none;
    border-bottom:2px solid black;
    padding: 10px 0;

  }

.testimonials{
padding: 5rem 0 15rem 3rem;
}

.title-intro h1{
  /* margin-left:40px; */
  width:100%;
}

.subscription-box{
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 2rem;
}


}
