*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  max-height:100%;
}

a{
  text-decoration: none;
  color:black;
}

/* FONTS */

:-webkit-any(article,aside,nav,section) h1{
  font-size:64px;
}

p{
  margin-bottom:20px;
}

/* Helper Classes */
.centered{
  text-align:center;
}

.italic{
  font-style: italic;
}

.primary-button{
  border: 2px solid black;
  padding:10px;
}

.primary-button:hover{
  border: 2px solid #B7C1EB;
  background-color:#B7C1EB;
  color:white;
}

.secondary-button{
  border: 2px solid #7A89C8;
  padding:10px;
}

.secondary-button:hover{
  border: 2px solid #B7C1EB;
  background-color:#B7C1EB;
  color:white;
}

.space-around{
  display:flex;
  justify-content:space-around;
}

.space-between{
  display:flex;
  justify-content:space-between;
}

/* Nav */
nav{
padding:20px;
}

.regular-menu a:hover{
  color:#7A89C8;
  transition:0.35s;
}

/* header */

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.title{
  padding:5rem 5rem 5rem;
}

.title-img{
  background-image:url("/images/chase-portrait.png");
  background-position:center;
  background-size:cover;
  padding:5rem;
}

.title-intro{
  padding: 4rem 2rem 3rem 5rem;
    margin-bottom: 1rem;
}


/* SERVICES on HOME */

.title-services{
  padding:4rem;
  background-color:#EE5219;
}

.big-quote{
  text-align:right;
  color:white;
  border-right: 2px solid white;
  font-size: 50px;
  line-height: 47px;
}

.services-text{
  color:white;
  padding:3rem;
  padding-right:1rem;
  padding-bottom:2rem;
}

/* TESTIMONIALS */

.testimonials{
  padding:12rem 7rem;
  background-color:#E7AEE3;
  color:white;
}

/* .slideshow-container{
  position:relative;
  margin:auto;

}

.mySlides{
  display:none;
} */

.mySlides p{
  text-align:center;
}

/* ADD CSS FOR SLIDES */

/* TITLE ABOUT */

.info{
  padding:4rem;
}

.info-text{
  padding:2rem 3rem 2rem 0;
}

.info-img{
  background-image:url("/images/chase-portrait.png");
  background-position:center;
  background-size:cover;
  padding:5rem;
}



/* Footer */

.footer-link:hover{
  color:#e5bc5c;
}

/* MEDIA QUERIES */

@media (max-width: 768px){
.display-none{
  display:none;
}


}
